# gradle

.gradle/
build/
out/
classes/
scripts

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# tmp
tmp
.github

# reference mods
reference_mods

# AI
.agents
agent
skills-lock.json
Docs
AGENTS.md
CONTEXT*.md